{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "productHero.html" . }}


<section id="AppFeatures" class="section-block features-style2">
    <div class="container">
        <div class="section-header">
            <h2>Core Features</h2>
            <p>
                Efficiently syndicate flexible content via cost effective initiatives completely leverage vertical
                quality.<br>
                Turn your mobile visitors into your best customers.
            </p>
        </div>



        <div class="row">
            <div class="col-md-4">

                {{ with .Params.features }}
                {{ $len := len .}}
                {{ range first (div $len 2) . }}

                <div class="feature-block">

                    <div class="feature-content">
                        <h3>{{ .title}}</h3>
                        <p>{{ .subTitle }}</p>
                    </div>
                </div>
                {{ end }}
                {{ end }}


            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="{{ .Params.image | relURL }}" class="img-fluid" alt="Img" />
                </div>
            </div>
            <div class="col-md-4">
                {{ with .Params.features }}
                {{ $len := len .}}
                {{ range after (div $len 2) . }}

                <div class="feature-block">

                    <div class="feature-content">
                        <h3>{{ .title}}</h3>
                        <p>{{ .subTitle }}</p>
                    </div>
                </div>
                {{ end }}
                {{ end }}

            </div>
        </div>
    </div>
</section>

<section id="appScreenshots" class="section-block" data-scroll-index="3">
    <div class="shape-top"></div>
    <div class="container">
        <div class="section-header">
            <h2>App Screenshots</h2>
            <p>
                Efficiently syndicate flexible content via cost effective initiatives completely leverage vertical
                quality.<br>
                Turn your mobile visitors into your best customers.
            </p>
        </div>

        <div class="list_screen_slide owl-carousel ">
            {{ range .Params.screenshots }}
            <div class="item">
                <a href="{{ . | relURL }}" >
                    <img src="{{ . | relURL }}" alt="{{ . | relURL }}">
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="reviews" class="section-block" data-scroll-index="7">
    <div class="shape-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-header-style2">
                    <h2>What Our Customer Says!</h2>
                    <p>
                        Don't just believe our words. <br>
                        Check these testimonials from our satisfied customers!
                    </p>
                    <div class="review_nav">
                        <span class="ti-angle-left button_prev"></span>
                        <span class="ti-angle-right button_next"></span>
                    </div>

                    <div class="btn-read-more"><a class="btn theme-btn" href="#">View all reviews</a></div>
                </div>
            </div>
            <div class="col-md-7">
                <!-- Start review items message-->
                <div class="review-details-content">
                    <div class="owl-carousel review_details" id="review_details-1">

                        {{ range .Params.reviews }}
                        <div class="item">
                            <p>{{ .review }}</p>
                            <h5>{{ .customer }}</h5>
                            <h6>{{ .designation }}</h6>
                        </div>
                        {{ end }}

                    </div>
                </div>
                <!-- End review items message -->

                <!-- Start review items Avatar -->
                <div class="review-photo-list">
                    <div class="owl-carousel review_photo" id="review_photo-1">
                        <!-- Start review item Avatar -->

                        {{ range .Params.reviews }}
                        <div class="item">
                            <div class="review_photo_block">
                                <img src="{{ .image | relURL}}" alt="Img">
                            </div>
                        </div>
                        {{ end }}

                    </div>
                </div>
                <!-- End review items Avatar -->
            </div>
        </div>
    </div>

</section>


<section class="section section-bg">
    <div class="container">
        {{.Content}}
    </div>
</section>


{{ end }}