{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}

<section  class="hero-area " >
	<div id="banner">

	</div>
	<div class="block">
		{{ if .icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
		<h1 class="ml3">{{ .title | markdownify }}</h1>
		<p >{{ .content | markdownify }}</p>
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
	</div>
</section>
{{end}}
{{end}}
