
<footer id="footer" class="footer-bg section-bg">
	
	<div class="container">
		<!-- End Footer Top  Area -->
		<div class="top-footer">
			<div class="row ">
				

				<div class="col-md-6 ">
					<h4 class="footer-title">Newsletter</h4>
					<p>
						Subscribe our newsletter to get our update. We don't send span email to you.
					</p>
					<form class="newsletter-form">
						<input type="email" placeholder="Enter Your Email" />
						<button class="btn theme-btn">Subscribe</button>
					</form>
				</div>

				<div class="col-md-6 copyright  ">
					<a href="{{ site.Home.Permalink }}">
						<img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" height="42" width="42" />
					</a>
					<br>
					<p>{{ site.Params.copyright | markdownify }}</p>
					<div class="social-icon">
						<ul class="list-inline">
							{{ range site.Params.social }}
							<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
</footer>



{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button"
		class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
		});
		cookieBox.classList.add('cookie-box-hide');
	};
		}
	}) (jQuery);
</script>
{{ end }}