{{ $data := index site.Data site.Language.Lang }}


{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="reviews" class="section-block" data-scroll-index="7">
    <div class="shape-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-header-style2">
                    <h2>What Our Customer Says!</h2>
                    <p>
                        Don't just believe our words. <br>
                        Check these testimonials from our satisfied customers!
                    </p>
                    <div class="review_nav">
                        <span class="ti-angle-left button_prev"></span>
                        <span class="ti-angle-right button_next"></span>
                    </div>

                    <div class="btn-read-more"><a class="btn theme-btn" href="reviews.html">View all reviews</a></div>
                </div>
            </div>
            <div class="col-md-7">
                <!-- Start review items message-->
                <div class="review-details-content">
                    <div class="owl-carousel review_details" id="review_details-1">

                        {{ range .reviews }}
                        <div class="item">
                            <p>{{ .review }}</p>
                            <h5>{{ .customer }}</h5>
                            <h6>{{ .designation }}</h6>
                        </div>
                        {{ end }}

                    </div>
                </div>
                
                <div class="review-photo-list">
                    <div class="owl-carousel review_photo" id="review_photo-1">

                        {{ range .reviews }}
                        <div class="item">
                            <div class="review_photo_block">
                                <img src="{{ .image | relURL}}" alt="Img">
                            </div>
                        </div>
                        {{ end }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
